@{
    ViewBag.Title = "Contact";
}
<h2>Заказать сейчас</h2>
@*<h3>@ViewBag.Message</h3>*@



<div class="row">

    <div class="col-md-3">
        <address>
            Сушилар<br />
            (Доставка 500 тг) <br />
            Тургут Озала, 70 (уг.Толе би)<br />
            <abbr title="Phone">P:</abbr>
            +7-(771)-367-14-42
        </address>       
    </div>


    <div class="col-md-9">
        <img src="http://www.sushi-kazan.com/upload/iblock/4d3/4d3186d7403596198eea906cf66acdc5.png" alt="sushiPicture">
    </div>

</div>